timetable/
**/__pycache__/
.DS_Store
config.json
**/node_modules/
**/dist/
**/html/
# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
